<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form>
            <label>
                <span class="fieldTitle">Add a new task</span>
                <div class="add-box">
                    <input type="text" name="newTask" id="newTask" v-model="newTasks">
                    <button type="button" @click="addNewTask">+</button>
                </div>
            </label>
        </form>

        <div class="tasks-box">
            <ul>
                <li v-for="task of tasks">
                    <span class="task-text">{{task.task}}</span>
                    <span class="task-option" @click="taskDone(task)">DONE</span>
                    <span class="task-option" @click="deleteTask(task)">DELETE</span>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>